.feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 20px 0 20px;
}

.feedback-like{
    flex-direction: row; 
}

.feedback-dislike{
    flex-direction: row-reverse;
}